page-thank {
    text-align: center;
  

    img{
        width: 80px;
        margin: 0 auto;
        margin-top: 1%;
        margin-bottom: 5%;
    }
    
    p{
        font-weight: 600;
        word-spacing: .3em;
    }

    .redes{
        img{
            width: 35px;
        }
    }
}
