<ion-content padding>
    <img src="assets/imgs/logo_color.png" class="slide-image"/>
    
    <ion-grid>
        <ion-row>
          <ion-col col-12 center text-center>
            <h3 style="color:#FFF;" >Obtener Orden Servicio</h3>
            <br>
            <ion-input style="padding:3px; background: #FFF; font-size: 18px; font-weight: 700;" type="number" [(ngModel)]="idOpVehi" ></ion-input>
            <br>
            <button *ngIf="have_internet"  (click)="login()" ion-button full color="primary" icon-start >
                Iniciar
            </button>

            <span *ngIf="!have_internet" style="color:#FFF; font-size: 17px;">
                Sin Internet para Iniciar
            </span>
            
          </ion-col>
        </ion-row>
    </ion-grid>
    <br>
    <p>&copy; Go Natural Explorer. Derechos Reservados.</p>
</ion-content>
