page-signature {
    signature-pad {
        canvas {
          border: dashed 1px #cccccc;
          width: 49% !important; 
          height: 200px;
          margin: 0 auto;
          margin-left: 25% !important;
        }
    }
}
